<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <title>{{ category.title }}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link disabled" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="{% url 'home' %}">Create News</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                {% for i in categoris %}
                <a href="{% url 'category' i.pk %}" class="list-group-item list-group-item-action">{{ i.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            {% for i in news %}
            <div class="card mb-3">
                <div class="card-header">
                    Категория: {{ i.category }}
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if i.photo %}
                        <img src="{{ i.photo.url }}" alt="" width="350px" height="250" class="mr-3">
                        {% else %}
                        <img src="https://picsum.photos/200" alt="" width="350px" height="250" class="mr-3">
                        {% endif %}
                        <div class="media-body">
                            <h5 class="card-title">{{ i.title }}</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ i.created_ad }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>