{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %} <!--создал файл _sidebar.html перенес в него код сайдбара и подключил этот файл-->
{% endblock %}

{% block content %}
{% for i in object_list %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ i.category.get_absolute_url }}">{{ i.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if i.photo %}
            <img src="{{ i.photo.url }}" alt="" width="350px" height="250" class="mr-3">
            {% else %}
            <img src="https://picsum.photos/200" alt="" width="350px" height="250" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.content }}</p>
                <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ i.created_ad }}

    </div>
</div>
{% endfor %}
{% endblock %}
